<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>

<a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>BirthDate</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Status</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td style="width: 10%" th:text="${patient.id}"></td>
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.birthDate}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.phoneNumber}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.patientStatusDto}"></td>
        <td> <a th:href="@{/patient/notes/list/{id}(id=${patient.id})}">Notes</a>&nbsp;</td>
        <td style="width: 15%" class="text-center">
            <a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
            <a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a> |&nbsp;
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>