<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>

<a th:href="@{/note/add/{id}(id=${patient.id})}" class="btn btn-primary btn-sm">Add New</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Patient</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${patient.notes}">
        <td style="width: 10%" th:text="${note.idNote}"></td>
        <td th:text="${note.messageDate}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${note.message}"></td>
            <!--<td th:text="${patient.note}"></td>-->
        <td style="width: 15%" class="text-center">
            <a th:href="@{/note/update/{id}(id=${note.idNote})}">Edit</a>&nbsp;|&nbsp;
            <a th:href="@{/note/delete/{id}/{idPatient}(id=${note.idNote}, idPatient=${patient.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>